doctype html
html
    head
        title= "Server for MalLo March"
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        script(src='/socket.io/socket.io.js')

        //these dependencies need to be in this specific order!
        link(rel='stylesheet', href='/stylesheets/themes/colors.min.css')
        link(rel='stylesheet', href='/stylesheets/themes/jquery.mobile.icons.min.css')
        link(rel='stylesheet', href='/javascripts/jquery/jquery.mobile.structure-1.4.5.min.css')
        link(rel='stylesheet', href='/stylesheets/jquerymobile.css')
        //link(rel='stylesheet' href='http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css')
        script(src='/javascripts/jquery/jquery-1.12.4.js')
        script(src='/javascripts/jquery/jquery.mobile-1.4.5.min.js')

        script(src='/socket.io/socket.io.js')
        script(src='/javascripts/Logger/jsnlog.min.js')
        script(src='/javascripts/interfaceConstants.js')


    body(class="ui-mobile-viewport")
        script.
            var serverURL = 'http://localhost:3000';
            var isConsentFormOn;
            var isLoggerOn;
            var isMetroOn = 0;

            //socket to send/receive stuff from
            var socket = io(serverURL);

            socket.on('welcome', function (data) {
                currentInterface = parseInt(data.mode);
                isConsentFormOn = data.isConsentFormOn;
                isLoggerOn = data.isLoggerOn;

                $('#flipConsent').val(isConsentFormOn).flipswitch('refresh');
                $('#flipLogger').val(isLoggerOn).flipswitch('refresh');
                $('#flipMetro').val(isMetroOn).flipswitch('refresh');

                console.log("Welcome Mode: " + currentInterface + " logger " + isLoggerOn + " consentForm: " + isConsentFormOn);
            });

            function saveEmails() {
                console.log("Send SaveEmail Message");
                socket.emit('saveEmails', {
                    from: "server"
                });
            }

            $(function () {
                $("input[name='radio-choice-1']").on("click", function () {
                    var interfaceSelected = $("input[name='radio-choice-1']:checked").val();
                    console.log("Interface Selected Changed: " + interfaceSelected);
                    socket.emit('serverChangedInterface', {
                        newInterface: interfaceSelected
                    });
                });
            });

            function savePerformerIPs() {
                console.log("Save IPs");
                var ips = {};
                var m1ip = document.getElementById("ip1").value;
                var m2ip = document.getElementById("ip2").value;
                var m3ip = document.getElementById("ip3").value;

                console.log("M1: " + m1ip);
                ips[0] = m1ip;
                ips[1] = m2ip;
                ips[2] = m3ip;
                socket.emit('saveIPs', {
                    from: "server",
                    performerIPs: ips
                });
            }

            $(function () {
                $('#flipMetro').click(function () {
                    // if it is on - send a message to turn it off
                    if (isMetroOn) {
                        socket.emit('flipMetro', {isOn: 1});
                    } else {
                        socket.emit('flipMetro', {isOn: 0});
                    }
                });
            });
        div(data-role='page')
            h1.center(data-role='header', data-theme='c', data-position='inline', role='banner') MalLo March Server Controller
            .ui-body.ui-body-a.ui-corner-all
                .ui-block-a(style='width:10%')
                .ui-block-b(style='width:80%')
                    .ui-body.ui-body-a.ui-corner-all.center
                        .ui-block-a(style='width:50%')
                            label(for='flipConsent') Consent Form:
                            select#flipConsent(name='flipConsent', data-role='flipswitch', data-theme='b', data-track-theme='b')
                                option(value='0') Off
                                option(value='1') On
                        .ui-block-b(style='width:50%')
                            label(for='flipLogger') Logger:
                            select#flipLogger(name='flipLogger', data-role='flipswitch', data-theme='b', data-track-theme='b')
                                option(value='0') Off
                                option(value='1') On
                    .ui-body.ui-body-a.ui-corner-all.center
                        .ui-block-a(style='width:50%')
                            label(for='metro') Metronome:
                            select#metro(name='flipMetro', data-role='flipswitch', data-theme='c', data-track-theme='c')
                                option(value='0') Off
                                option(value='1') On
                    fieldset(data-role='controlgroup', data-theme='d' )
                        h2.center Interface Modes
                        input#radio-choice-1(type='radio', name='radio-choice-1', value='0', checked='checked')
                        label(for='radio-choice-1') Welcome
                        input#radio-choice-2(type='radio', name='radio-choice-1', value='1')
                        label(for='radio-choice-2') Movement 1
                        input#radio-choice-3(type='radio', name='radio-choice-1', value='2')
                        label(for='radio-choice-3') Movement 2
                        input#radio-choice-4(type='radio', name='radio-choice-1', value='3')
                        label(for='radio-choice-4') Survey
                .ui-field-contain
                    label(for='ip1') MalLo 1 Performer:
                    input#ip1(type='text', name='text-1', data-theme='b', value='::ffff:192.168.1.')
                .ui-field-contain
                    label(for='ip2') MalLo 2 Performer
                    input#ip2(type='text', name='text-2', data-theme='c', value='::ffff:192.168.1.')
                .ui-field-contain
                    label(for='ip3') MalLo 3 Performer
                    input#ip3(type='text', name='text-3', data-theme='d', value='::ffff:192.168.1.')
                .ui-field-contain
                    label(for='saveIPs')
                    button#saveIPs.ui-btn.ui-btn-inline.ui-shadow.ui-btn.ui-corner-all.ui-mini.ui-btn-b(name= 'saveIPs', type='submit', onclick="savePerformerIPs()", ) Save Performer IPs
                .ui-field-contain
                    label(for='saveEmail')
                    button#saveEmail.ui-btn.ui-btn-inline.ui-shadow.ui-btn.ui-corner-all.ui-mini.ui-btn-b(name= 'saveEmail', type='submit', onclick="saveEmails()", ) Save Emails

            .ui-block-c(style='width:10%')

